.details-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.first {
  background-color: #000000;
  width: 38.46%;
}

.second {
  background-color: #000000;
  width: 61.54%;
}

.column {
  height: auto;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.img-container {
  padding: 4em;
}

.first.column h1 {
  font-family: "Futura";
  text-align: center;
  margin: 0%;
}

.audio-wrapper {
  background-color: #101010;
  border-radius: 1em;
  align-items: center;
  margin: 2em;
  height: 20%;
  align-content: center;
  display: flex;
  flex-direction: row;
}

.purchase-options {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.lease {
  width: 33.33%;
  height: auto;
  background-color: #101010;
  border-radius: 0.5em;
  margin: 1em;
  box-sizing: border-box;
  border: 0.25em solid;
  cursor: pointer;
}

.lease h1 {
  font-size: 2em;
  font-family: "Futura";
  text-align: center;
  color: white;
}

.lease h2 {
  font-size: 1.5em;
  font-family: "Futura";
  text-align: center;
  color: white;
}

.beat-specs {
  margin-top: 15%;
}

.beat-attributes {
  color: white;
}

.details-body {
  margin: 0px;
}

.details-player-wrapper {
  width: 15%;
  height: 100%;
  padding: 3%;
}

.details-player-button {
  background: transparent;
  width: 100%;
  height: 100%;
  border-color: transparent;
  cursor: pointer;
  padding: 1em;
}

.details-timeline {
  -webkit-appearance: none;
  width: 70%;
  height: 1.75em;
  margin-right: var(--space);
	background: #ffffff;
	outline: none;
	opacity: 1;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	background-size: 0% 100%;
	background-image: linear-gradient(#ffb606, #ffb606);
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
}

.details-timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
	appearance: none;
	width: 1.75em;
	height: 1.75em;
	opacity: 0;
	background: #ffb606;
	cursor: pointer;
}

.details-timeline:hover::-webkit-slider-thumb {
  opacity: 0;
}

.details-timeline::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.details-volume-scroll {
  -webkit-appearance: none;
  width: 80%;
  height: 1em;
  transform: rotate(270deg);
	background: #ffffff;
	outline: none;
	opacity: 1;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	background-size: 0% 100%;
	background-image: linear-gradient(#ffb606, #ffb606);
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
}

.details-volume-scroll::-webkit-slider-thumb {
  -webkit-appearance: none;
	appearance: none;
	width: 1em;
	height: 1em;
	opacity: 0;
	background: #ffb606;
	cursor: pointer;
}

.details-volume-scroll::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.slider-wrapper {
  width: 15%;
  height: 100%;
  display: inline-block;
  padding: 0;
}

form {
  align-content: center;
  align-items: center;
  display: grid;
}

.payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 13%;
}

.hidden-price {
  display: none;
}

@media (max-width: 1150px) {

  .details-container {
    display: grid;
  }

  .first {
    background-color: #000000;
    width: 100%;
  }

  .second {
    background-color: #000000;
    width: 100%;
  }

  .payment {
    width: 80%;
    padding-left: 10%;
    padding-bottom: 10%;
  }

  svg {
    width: 100%;
    height: auto;
  }

}