.login-wrapper {
    font-family: "Futura";
    background-color: #101010;
    height: 40em;
    width: 25em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    box-sizing: border-box;
    padding: 2em;
}


.login-title {
    text-align: center;
    color: white;
    margin-top: 1em;
    margin-bottom: 3em;
}

.edit-title {
    text-align: center;
    color: white;
    margin-bottom: 1em;
}

.login-form {
    z-index: 0;
    display: block;
}

.login-input {
    font-family: "Futura";
    width: 80%;
    margin: 0 0 10% 10%;
}

.confirm-login {
    --offset: 10px;
    --border-size: 2px;
    position: relative;
    align-self: center;
    width: 50%;
    padding: 0.75em 1.5em;
    appearance: none;
    border: 0;
    background: transparent;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
    display: grid;
    font-family: "Futura";
    margin: auto;
    margin-top: 0.5em;
}

.go-to-register {
    position: absolute;
    display: grid;
    left: 25%;
    transform: translate(0% -50%);
    text-align: center;
    color: white;
    margin-top: 2em;
    font-size: 0.8em;
}

.confirm-login:hover {
    background-color: #ffb606;
}

.delete{
    --offset: 10px;
    --border-size: 2px;
    position: relative;
    align-self: center;
    width: 50%;
    padding: 0.75em 1.5em;
    appearance: none;
    border: 0;
    background: transparent;
    color: red;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
    display: grid;
    font-family: "Futura";
    margin: auto;
    margin-top: 4em;
}

.close-modal {
    color: #ffffff;
    font-family: 'Futura';
    text-decoration: none;
}

.modal-contenido{
    background-color:#101010;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    z-index: 1;

  }
  #miModal:target{
    opacity:1;
    pointer-events:auto;
  }