.uploadContainer {
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 5% 10% 5% 10%;
    align-content: center;
}

.uploadBeat {
    background-color: rgb(24, 24, 24);
    display: grid;
}

.uploadBeatInput {
    font-family: "Futura";
    width: 80%;
    margin: 0 0 3em 10%;
}

.select-file {
    font-family: "Futura";
    width: 10em;
    margin: auto;
    display: block;
    text-align: center;
}

.up-first-column {
    align-content: center;
    margin-top: 3em;
}

.up-second-column {
    align-content: center;
    display: inline-block;
    text-align: center;
}

.confirm-upload {
    --offset: 10px;
    --border-size: 2px;
    position: relative;
    align-self: center;
    width: 70%;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
    display: grid;
    font-family: "Futura";
    margin: auto;
    margin-bottom: 3em;
    margin-top: 2em;
}

.confirm-upload:hover {
    background-color: #ffb606;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    --offset: 10px;
    --border-size: 2px;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
    display: inline-block;
    font-family: "Futura";
    margin: 1%;
    width: 14%;
}
